.cabecalhoProgressoContainer{
display: flex;
justify-content: space-between;
background-image: url('../../public/profilebg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: 40%;
padding: 20px ;
border-radius: 5px;
border: 1px solid $branco;
    .usuario {
    display: flex;
    section {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       p{
            font-size: 16px;
            &.nome {
               padding-top: 5px;
               margin-top: 0px;
            }
        }
    }
}

.textos {
    p{

        font-size: 16px;
    }
}
}