
header {
    color: $branco;
}
  .cabecalhoContainer {
      background-color: $preto;
      width:100vw;
   
      position: fixed;
      z-index: 2  ;
      border-bottom: 2px solid $verde;
      display: flex;
      justify-content: space-between;
      top: 0;
      align-items: center;
      height: fit-content;
      > div {flex: 1;}

      .imgContainer {
          display: flex;
          flex-grow: 1;
          align-items: center;
          text-align: center;
          
          a {
            margin: auto;
            display: block;
          }
          img {
          width: 150px;
          height: 94px;
          
      }
      }
      
      .cabecalhoUsuarioContainer {
        flex-grow: 1;
    height: auto;
   
    
    
      
  }

  }


