.progressoContainer {
    margin: 0 auto;
    width: 80%;
    border: 1px solid $verde;
    padding: 30px 20px;
    border-radius: 15px;
    color: $branco;
    padding-top: 10px;

    .parteDeBaixo {
        border-top: 2px solid $verde;
        display: flex;
        justify-content: center;
        gap: 15vw;
        padding: 0px 50px;
        
    }
   
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}