.paginaLogin {
    .oculto {
        display: none;
    }
    .loginContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .formCadastro {
            display:flex;
            flex-direction: column;
            width: 300px;
            padding: 25px;
            background-color: #161616;
            box-shadow: 0px 5px 15px $verde;
            outline: 1px solid #2b9962;
            border-radius: 10px;
            margin-bottom: 35px;

            .uploadImagemContainer{
                text-align: center;
                position: relative;
                margin-bottom: 1px;
                cursor: pointer;
                
        
                .avatarPreview{
                    height: 120px;
                    width: 120px;
                    border: 1px solid $verde;
                    border-radius: 60px;
                }
        
                    &::after{
                        content: url('../../public/camera.svg');
                        width: 48px;
                        height: 48px;
                        position: absolute;
                        right: 0;
                        margin: auto;
                        left: 90px;
                        bottom: 0px;
                    }
            }

            p.avatar{
                margin-top: 0px;
                margin-bottom: 35px;
                color: $verde;

            }

            h1 {
                color: $verde;
                margin: 5px;
            }
        
        
            button {
                display: block;
                width: 100%;
                color: $verde;
                background-color: transparent;
                font-weight: 600;
                font-size: 14px;
                margin: 0;
                padding: 14px 13px 12px 13px;
                border: 0;
                outline: 1px solid $verde;
                border-radius: 8px;
                line-height: 1;
                cursor: pointer;
                transition: all ease-in-out .3s;


                &:hover {
                  transition: all ease-in-out .3s;
                  background-color: #00FF7F;
                  color: #161616;
                  cursor: pointer;
                }
              }
              

        }
    }
}