body {
    background: url('../../public/fundo-ninja-final.jpg');
     background-size: cover;
     background-attachment: fixed;
     margin-top: 150px;
  }
  


   
  
  
    .cardDeCima {
      margin-bottom: 120px;
  
      h1 {
        color: $verde;
        font-size: 50px;
        text-align: center;
      }
  
      p {
        color: $branco;
        text-align: center;
        font-size: 20px;
      }
  
      h2 {
        color: $branco;
        text-align: center;
        font-size: 40px;
      }
    }

        .cardImagem {
            display: flex;
            justify-content: center;
            gap: 50px;
            .cardInformacoes {
            p{color: $branco;text-align: center;}
                border: 2px solid $verde;
                width: fit-content;
                padding: 15px 18px;
                border-radius: 12px;
                min-height: 400px;
                height: fit-content;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
            
                  
          
                h2 {
                  color: $azul;
                  font-size: 20px;
                  text-align: center;
                }
            
                li {
                  color: $branco;
                  font-size: 20px;
                }
                button {
                  background-color: transparent;
                  outline: none;
                  color: $verde;
                  border: 1px solid $verde;
                  border-radius: 15px;
                  padding: 15px;
                  width: 70%;
                  text-align: center;
                  margin: 0 auto;
                  cursor: pointer;
          
                  &:hover {
                      background-color: $verde;
                      color: $branco;
                  }
          
                }
              }
            
           

        }
  
    

        .cardInformacoes2 {
            display: flex;
            margin: 0 auto;
            text-align: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: fit-content;
            margin-bottom: 50px;
            margin-top: 50px;

              
           
            h1 {
                color: $branco;
                font-size: 30px;
            }
            h2 {
                color: $verde;
                font-size: 20px
                
            }

            .comoFuncionaBox {
                display: flex;
                gap: 25px;
                margin: 0 25px;

                .item {
                    padding: 50px;
                    border: 2px solid $verde;
                    border-radius: 12px;
                    width: 30%;
                    h2{
                        color: $verde;
                        font-size: 20px;
                        }
                    img {
                        width: 150px;
                        height: 150px;
                    }
                    p{
                        color: $branco;
                    }
                }
                    margin-bottom: 50px;
            }
        }
  
  
  