.rankingContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cinzaMedio;
    border-radius: 15px;
    width: 80vw;
    border: 2px solid $branco;

    .usuarioLogado {
        background-color: $cinzaEscuro !important;
        border: 2px solid $verde !important;
        border-radius: 10px !important;

        strong {
            color: $verde !important;
        }
    }

    .usuario {
        display: flex;
        align-items: center;
        width: 90%;
        border-bottom: 1px solid $cinza;
        margin-bottom: 5px;
        padding: 10px;
        color: $branco;
        justify-content: flex-start;

      


        strong.rankNum {
            margin-right: 100px;
            margin-left: 20px;
            font-size: 16px;
            color: $branco;
        }

        .userInfo {

            img {
                border-radius: 100%;
                border: 2px solid $cinza;
            }
            display: flex;
            align-items: center;
            gap: 20px;
            
            strong {
                color: $cinza;
            }
            flex: 0.9;
          
        }

        .userStats {
            display: flex;
            flex-direction: column;
            text-align: end;

            p {
                margin: 2px;
            }

            strong {
                color: $verde;
                margin: 0px;
            }
        }

        .rankImg {
           margin-left: 50px;
           flex: 0.2;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
}


}