*{font-family: 'Poppins';}

.card {
    
    max-width: 100%;
    height: 290px;
    border-radius: 15px;
    background: #19191b;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .element {
    color: grey;
    font-size: .8em;
    padding: 6px 15px;
    border-left: 2px solid grey;
    cursor: pointer;
  }
  
  .selected {
    color: #3bd423 /* Define a cor que você deseja para os itens selecionados */
  }
  
  .element:hover {
    color: #3bd423;
  }