.primeiraVezContainer {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: fit-content;
    border: 2px solid $verde;
    border-radius: 12px;
    padding: 10px 20px;
    h1 {
        color: $azul;
        font-size: 20px;
    }
    p {
        color: $branco;
        margin: 0px 5px;
    }
    strong {
        color: $verde;
        &.strongAzul {
            color: $azul;
        }
    }
    button {
        border: 3px solid $azul;
        background-color: transparent;
        color: $azul;
        padding: 20px 50px;
        border-radius: 15px;
        margin-top: 10px;
        font-size: 20px;
        cursor: pointer;
        &:hover {
            background-color: $azul;
            color: $branco;
        }
    }
}

h1.titulo2 {
    color: $verde;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}
.CardsIniciais {
  
  
        display: flex;
        gap: 15px;
        margin: 0 auto;
        justify-content: center;
        h1{
            font-size: 30px;
            
        }
        .cardbox {
            border: 1px solid $verde;
            border-radius: 12px;
            padding: 35px 20px;
            width: 20%;

            .cardboxTitulo {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            h2 {
                color: $verde;
                font-size: 20px;
            }
            ul {
                   height: 300px;
                    margin-bottom: 20px;
                li {
                    color: $verde;
                    
                    strong {
    
                        font-size: 17px;
                    }
                }
            }

        
            
            .botao{
                display: flex;
                align-items: center;
                padding: 0px;
                justify-content: center;
                width: 100%;
                
                
                button {
                    cursor: pointer;
                    background-color: transparent;
                    border:  3px solid $azul;
                    border-radius: 15px;
                    padding: 30px;
                    font-size: 20px;
                    color: $azul;
                    height: 150px;
                    width: 100%;
                    &:hover {
                        background-color: $azul;
                        color: $branco;
                    }
                }
            }
          

        
    }
}